
<div class="col col-2">
  <div class="notes-container">
    <div class="notes-wrapper">
      <h3>Turbo Notes</h3>

      <%= turbo_frame_tag id="todos" do %>
        <%= render @todos %>
      <% end %>
    </div>

    <%= button_to "New Note", new_todo_path, method: :get, data: { turbo_frame: "new_todo" }, class: 'btn btn-primary' %>
  </div>
</div>

<div class="col">
  <div class="edit-note-container">
    <%= turbo_frame_tag id="new_todo", src: new_todo_path %>
  </div>
</div>
